body { 
       background-image: url("cowprint.jpg");
       background-color: #FFFFFF;
       color: #221811;
       font-family: Impact, sans-serif; }
header {
       background-image: url("moohome2.jpg");
       background-repeat: repeat-x;
       height: 150px;
       width: auto; }
h1 { color: #FF0000;
     text-align: center;
     font-size: 5em;
     font-weight: bold; }
h2 { font-size: 2em;
     text-align: center; }
h4 {
      text-align: center;
      min-width: 800px;
      min-height: 50px; }
.mainhome { font-size: 1.5em;
            text-align: left;
            padding-right: 80px; }
nav { text-align: left;
      font-size: 1.5em;
      font-weight: bold; }
nav a { 
      text-decoration: none; }
nav a :link { color: #FEF6C2; }
nav a :visited { color: #D2B48C; }
nav a :hover { color: #CC9933; }
ul.paw { list-style-image: url("paw.png");
         margin-left: 100px; }
#wrapper {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      background-color: #FFFFFF;
      min-width: 900px;
      max-width: 1280px;
      height: 5000px; }
footer { 
      background-color: #808080;
      font-size: .60em;
      font-style: italic;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 300px;
      border: 3px solid #221811; }
.floatright { float: right;
             padding-right: 20px;
             padding-bottom: 20px; }
.floatleft { float: left;
             padding-right: 20px;
             padding-bottom: 20px; }
.img { display: block; }
.familytext { text-align: center; }
.row:after {
  content: "";
  display: table;
  clear: both; }
.column {
  float: left;
  width: 33.33%; }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




